*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    width: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}
/* Dai un po di padding per spaziare il logo e il titolo nell'header */ 


h1{ /* potevi fare anche span o mettere un id invece che classe generica */ 
    color: black;
    background-color: white;
    display: inline-block; /* faccio andare a capo il titolo accanto al logo */ 
    font-size: 70px;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 100px; /* dare vertical align per centrare il titolo */

    
    
}



.logo{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    background-color: white;
    /* dare vertical align per centrare l'img */
}

main{
    background-color: rgb(241, 241, 241);

    text-align: center;
    padding: 50px;
    /* mettere il padding al main invece di dare margine al container. ho bisogno di spazio e non di distanziare l'elemento contanier */
    
}





.container-todo{
    display: inline-block;
    background-color: white;
    width: 900px;
   padding-top: 5px;
   padding-bottom: 15px;
   border-radius: 5px;
   text-align: left;
   /* rimuvi le misure fisse di height e width altrimenti il contenitore è statico anche se gli elementi aumentano */
   
}

.button-cta {
background-color: lightskyblue;
border-radius: 5px;
color: white;
padding: 2px;
border: transparent;
font-size: 10px;
height: 25px;
width: 65px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 50px;


}

.button-secondary {
    background-color: white;
    border-radius: 5px;
    border-color: rgba(19, 19, 19, 0.11);
    color: rgb(182, 182, 182);
    padding: 2px;
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    font-size: 10px;
    height: 25px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

hr {
    color: rgba(217, 215, 215, 0.092);
   
}




/* Dare una classe UL e dire: non voglio i bullet, dare padding */





.lista {
    background-color: white;
    margin-left: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: 30px;
    list-style: none;
    
}


.elenco-lista {
    background-color: white;
    margin-top: 20px;
    list-style: none;
    vertical-align: middle;
    line-height: 35px;
    display: inline;
    
}


.titolo-lista {
    background-color: white;
    font-weight: bold;    
}


.arrow {
    background-color: white;
    display: inline-block;
}




.done {
    color: green;
    background-color: white;
    border: 1px solid green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    
    
}

.todo {
    color: rgb(128, 0, 0);
    background-color: white;
    border: 1px solid rgb(128, 0, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    
    
}


.task {
    background-color: rgb(7, 123, 162);
    height: 5px;
    width: 5px;
    padding: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: white;
    font-size: 10px;
   
    
}


.default {
    background-color: rgb(7, 123, 162);
}


.goal {
    background-color: rgb(121, 7, 162);
    height: 5px;
    width: 5px;
    padding: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: white;
    font-size: 10px;
 
}


.recruiting {
    background-color: rgb(0, 224, 138);
}

.mobile {
    background-color: rgb(224, 153, 0);
}

.sales {
    background-color: rgb(116, 240, 86);
}

.website {
    background-color: rgb(223, 43, 226);
}



